html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Macondo';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.cursor-pointer {
  cursor: pointer;
}

.MuiTableCell-root {
  font-family: 'Macondo'!important;
}

/*desktop*/
@media (min-width: 981px) {
  .container {
    max-width: 900px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .d-md-flex {
    display: flex!important;
  }

  .text-md-center {
    text-align: center!important;
  }

  .text-md-left {
    text-align: left!important;
  }
}

/*mobile*/
@media (max-width: 981px) {
  .container {
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .d-flex {
    display: flex!important;
  }

  .text-center {
    text-align: center!important;
  }

  .text-left {
    text-align: left!important;
  }
}